/* Dark Green: #1A535C */
/*Bright Green: #4ECDC4 */
/* White-ish: #F7FFF7 */
/*Orange: #FF6B6B */
/* Yellow: #FFE66D */



* {
  font-family: 'Cabin', sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  Font-Family: 'Roboto Condensed', Sans-Serif;
  font-size: 16px;
}

a, p, sub {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #F7FFF7;
}

nav {
  height: 20%;
  border: 2px solid red;
  width: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4ECDC4;
  color: #F7FFF7;
}

 a:hover {
  background-color: #F7FFF7;
  color: #4ECDC4;
}

nav a {
  display: block;
  width: 30%;
  text-align: center;
  padding: 1rem;
}

header {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
