
/* Dark Green: #1A535C */
/*Bright Green: #4ECDC4 */
/* White-ish: #F7FFF7 */
/*Orange: #FF6B6B */
/* Yellow: #FFE66D */

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: black;
  flex: 1fr 1fr;
}

#projects li {
  width: 50%;
  padding: 3rem;
}

#projects li a {
  text-align: center;
  margin: auto;
}

#rideshare {
  /* display: block; */
  flex
}

#grocery-store {

}

#hotel {

}

#startrly {

}
