body {
margin: 0px;
}

header {
  margin: 0;
  padding: 10px;
}

nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > div {
  margin: 0px;
  width: 140px;
  height: 75px;
  text-align: center;
  text-transform: capitalize;
  border: 3px groove white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px 2px;
}
