/* * {
  border: 1px solid black;
} */

html, body {
  height: 100%;
  background-color: tomato;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* nav section */
.nav-container ul li {
  list-style: none;
  padding: 10px;
  font-weight: 500;
  font-size: 1.5em;
}

.nav-container a:link, a:visited {
  text-decoration: none;
  color: white;
}

.nav-container a:hover, a:active {
  text-decoration: underline;
  font-size: 1.75em;
  color: #667761;
  transition: .33s;
}

/* intro section */
.intro {
  display: flex;
  justify-content: center;
  height: 100%;
}

.intro h1 {
  font-size: 8em;
  margin-top: 50%;
}

.intro h3 {
  display: flex;
  justify-content: center;
  margin-top: -10%;
  font-size: 3em;
  text-align: center;
}

.intro p {
  text-align: right;
}
