/* * {
  border: 1px solid black;
} */

body {
  height: 100%;
  background-color: tomato;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* nav section */
.nav-container ul li {
  list-style: none;
  padding: 10px;
  font-weight: 500;
  font-size: 1.5em;
}

.nav-container a:link, a:visited {
  text-decoration: none;
  color: white;
}

.nav-container a:hover, a:active {
  text-decoration: underline;
  font-size: 2em;
  color: #667761;
}

/* intro section */
