/* * {
  border: 1px solid black;
} */

html, body {
  height: 100%;
  background-color: tomato;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* nav section */
.nav-container ul li {
  list-style: none;
  padding: 10px;
  font-weight: 500;
  font-size: 1.5em;
  font-family: sans-serif;
}

.nav-container a:link, a:visited {
  text-decoration: none;
  color: #F6DCCA;
}

.nav-container a:hover, a:active {
  text-decoration: underline;
  font-size: 1.75em;
  color: #364A66;
  transition: .33s;
}

/* intro section */
.intro {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: -10%;
}

.intro h1 {
  display: inline-block;
  font-size: 8em;
  margin-top: 30%;
  text-align: center;
  color: #364A66;
  /* text-decoration: underline; */
  border-bottom-style: solid;
  border-bottom-color: #364A66;
  font-family: 'Cormorant', serif;
  font-style: bold;
}

.intro h3 {
  /* display: flex;
  justify-content: center; */
  margin-top: -13%;
  font-size: 3.5em;
  font-weight: 100;
  text-align: left;
  color: #F6DCCA;
  font-family: sans-serif;
}

.intro p {
  text-align: right;
  margin-top: 10%;
  color: #F6DCCA;
  font-family: sans-serif;
}
