* {
  font-family: 'Papyrus';
  font-size: 1.050em;
  max-width: 100%;
  height: auto;
  background-color: Black;
  margin: 10;
}

h1 {color: DarkSlateBlue;
font-size: 40;}

article { background-color: Maroon;
height: 20%;
display: flex;
align-items: center;
padding: 8;
font-size: 23;
}

.quote { display: flex;
  flex-direction: row;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav {display: flex;
  flex-direction: column;
background-color: SteelBlue;
height: 26%}


sub:nth-of-type(1) {height: 13em;
    width: 22em;}

sub {display: flex;}

footer { font-size: 22;
color: DimGray;}

h2, a {background-color: SteelBlue;
}

a:hover {
    color: LightSalmon;
}
