body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 60px;
  padding: 0;
  vertical-align: middle;
  background-color: #90A4AE;
  color: #607D8B;
}

.site-content-container {
  display: inline-grid;
  grid-template-rows: auto auto auto;
  grid-template-column: auto auto auto;
}

header {
  font-family: 'Noto Serif JP', sans-serif;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20pt;
  /* border: 1px solid red; */
}

h1 {
  /* border: 1px solid yellow; */
  grid-column: 1 / -1;

}

nav {
  /* border: 1px solid blue; */
}

ul {
  grid-row: 2;
  grid-column: 2;
  display: inline-flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red; */

}

ul li {
  padding: 1px 20px;

}

a:link {
  color: white;
}

a:visited {
    color: white;
}

.picture {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.about_me {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 20pt;
  vertical-align: middle;
  padding-top: 5rem;
}

footer {
  display: inline-inline-flex;
  flex-direction: row;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 12pt;
}
