body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 0;
  vertical-align: middle;
  background-color: #90A4AE;
  color: #607D8B;
}

font-family: 'Noto Serif JP', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee Hairline', cursive;

.line-1 {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 20pt;
 }

.line-1 {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 30pt;
  padding-left: 10rem;
  text-align: left;
  padding-top: 8rem
}

.line-2 {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 30pt;
  padding-left: 10rem;
  text-align: left;
}

a:link {
  color: white;
}

a:visited {
    color: white;
}

h5 {
  padding-top: 10rem
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 10pt
}
