body {
  background-color: black;
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: url(http://hdblackwallpaper.com/wallpaper/2015/07/black-and-gold-wallpaper-iphone-22-background.jpg);
  color: gold;
}

header {
    padding: 5em;
    grid-column: 1 /span 5;
    color: gold;
}

header{
  text-align: center;
}


.contents-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.contents-list div{
  font-size: 1.5rem;
  /* border: 2rem solid gold; */
  border-image: url('https://ak9.picdn.net/shutterstock/videos/12843929/thumb/1.jpg') 50;
}

.contents-list img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* box-shadow: inset 0px 0px 40px 40px gold; */
}
/*
.about-me {
  grid-row: 2 /span 2;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
} */
