body {
  /* display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  background: url(http://hdblackwallpaper.com/wallpaper/2015/07/black-and-gold-wallpaper-iphone-22-background.jpg);
  color: gold;
}

header {
    padding: 3em;
    /* grid-row: 1 /span 1; */
    color: gold;
    text-align: center;
}

header h1, h2, h3{
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Fredericka the Great', cursive; */
}

.nav-content{
  /* grid-column: 1; */
  list-style-type: none;
}

.nav-item{
  display:inline-block;
}

.nav-item a::after, a::before {
  display: inline-block;
  color: gold;
  content: ' - ';
}

.top-quote {
  font-style: italic;
  /* padding-bottom: 5em; */
  /* border-bottom: .2em solid;*/
}

.contents-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: dashed .1em #5a470b;
}


a {
  text-decoration: none;
}

a:visited {
  color: gold;
}

a:hover {
  color:#593a90;
}

.contents-list div{
  font-size: 1.5rem;
  align-items: center;
  /* border: 2rem solid gold; */
}

.contents-list img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: .7em ridge #593a90;
  /* margin-left: 1em; */
  /* border-image: url(../images/goldcircle.jpg); */
}

.contents-list img:hover {
  border: 1em ridge #593a90;
}

.blurb {
  font-size: 2em;
  border: dashed .1em #5a470b;
}

.art-gallery {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr;
  /* display:flex;
  flex-direction: column;
  text-align: left; */
}

.art-gallery p {
  font-size: 1.5rem;
}

.amy-art {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.amy-art img {
  width: 50%;
  height: 50%;
}

.manal-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.portfolio-list li{
  border: .2rem dotted gold;
  padding: 10px;
}

.portfolio-list img {
  width: 150px;
  length: 150px;
}

body, .contents-list, .blurb, .art-gallery, .portfolio-list li {
  background-color: black;
}
