.body {
  padding: 0;
}
.container {
  /* background-color: lightblue; */
  background-image: linear-gradient(blue, lightblue);
  display: grid;
  grid-template-areas:
   ". h h h h . ."
   ". . n n n . ."
   ". . n n n . ."
   ". . n n n . ."
   ". f f f f . .";
  text-align: center;
  /* grid-column-gap: 2em; */
}

.header {
  grid-area: h;
  text-align: center;
  text-align: right;
  padding: 1rem;
}

h1 {
  font-family: fantasy;
  color: white;
  font-size: 3rem;
}

sub {
  display: block;
  font-family: fantasy;
  font-size: 2rem;
}

nav {
  grid-area: n;
  font-family: 'Merienda', cursive;
}

li {
  list-style: none;
}

a[href] {
  border-radius: 60%;
  padding: 50px;
  margin: 5rem;
  background-image: linear-gradient(to top, blue, pink);
  text-decoration: none;
}

nav div {
  margin: 5rem;
}

nav div:nth-of-type(1n):hover {
  transition: 1s ease-in-out;
  transform: scale3d(1.5, 1.5, 1);
}

footer {
  text-align: right;
  grid-area: f;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  color: darkblue;
}
/* * {
  border: blue solid 2px;
} */
