nav {
  display: flex;
  flex-direction: row;
}

nav li {
  padding: 10em;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.header {
  grid-column: 1 / -1;
  text-align: center;
}

sub {
  display: block;
}

footer {
  text-align: center;
}
