/* * {
  border: 1px solid red;
} */

/* GENERAL STYLING */

body {
  font-family: helvetica, arial, sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  top:0;
  bottom: 0;
  left: 0
  right: 0;
  /* position: 0; */
  /* add the y overflow from startly*/

}

.site-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "h h h"
    "m m m"
    "f f f";
  height: 100vh;
  width: 100vw;
}

/* HEADER */

header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;

  background-color: #ffffff;
  background-image: #ffffff;
}

header * {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
}

.title {
  font-family: 'Poppins', trebuchet, arial, sans-serif;
  font-size: 2rem;
  letter-spacing: .3rem;
  line-height: .9;
  /*
  display: block; */


  height: 100%;
  padding: 1px;
  /* align-self: flex-end; */
}


.description {
  font-weight: lighter;

  height: 100%;

  /* align-self: flex-end; */
  margin: 0;



}

nav {
  grid-area: n;
  margin-left: auto;




  align-self: flex-end;
  float: right;

}

nav * {
  padding: 0px;

}

nav ul {
  /* display: flex;
  flex-direction: row; */


  list-style-type: none;
  font-size: 1rem;
  height: 100%;
  /* align-items: flex-start; */
  /* justify-content:flex-end;
  align-items: flex-end; */
}

nav ul li {
  display: inline-block;
  margin-left: auto;
  margin-bottom:0;
  height: 100%;


}


nav a {
  color: gray;
  text-decoration: none;
}

nav a:visited {
    color: #2f2f2f;
    text-decoration: none;

}

nav a:hover {
  color: lime;
  text-decoration: underline;

}

.spacer-top {
  grid-area: s-t;
  /* grid-row: 2 / span 2;
  grid-column: 1 / span 2; */
  background-color: gray;
  /* add large margin instead?*/
}

.spacer-bottom {
  grid-area: s-b;
  /* grid-row: 2 / span 2;
  grid-column: 1 / span 2; */
  background-color: gray;
  /* add large margin instead?*/
}

.spacer-right {
  grid-area: s-r;
  /* grid-row: 2 / span 2;
  grid-column: 1 / span 2; */
  background-color: gray;
  /* add large margin instead?*/
}

main {
  grid-area: m;
  box-sizing: content-box;
  width: 35em;
  background-color: white;
  border: 10em solid black;
  padding: 5% 20%;
  /* border-image: linear-gradient(to right, #01ffe9, #00ecff, #00cfff, #50a1ff, #e455ff); */
  border-imate: radial-gradient(white 15%, transparent 16%), radial-gradient(white 15%, transparent 16%);
  border-image-slice: 1;
}

main a {

}

main a:visited {

}

main a:hover {

}

footer {
  grid-area: f;
  display: flex;
  /* grid-row: -1;
  grid-column: 1 / -1; */
  background-color: silver;
}

footer a {

}
s
footer a:visited {

}

footer a:hover {

}
