

.box {
  display:block;
  background-color: #ffcc99;
  color: grey;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-decoration: none;
}


.box:nth-child(odd) {
  background-color: #ffcc66;
  color: grey;
}


.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: fit-content(40%);
  grid-template-rows: 150px 150px 150px;
  grid-auto-flow: column;
}
