body {
  background: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: left; */
  width: 78vw;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  color: #E6E1C5;
}

main {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

nav ul {
  grid-column-row: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-around

}

nav ul a {
  color: #E6E1C5;
  text-decoration: none;
}

nav ul a:hover {
  text-shadow: 0 0 2px #ffffff, 0 0 15px #a8bdb4, 0 0 20px #d3ded9, 0 0 40px #d3ded9;
}

nav ul a:visited {
  color: #F7AF9D;
}

nav ul li {
  align-items: flex-start;
}

h2 {
  color: #F7AF9D;
  padding-top: 3%;
}

.diary {
  padding-left: 10%;
  height: 12%;
  opacity: 1;
  overflow: hidden;
}

.diary:hover {
  height: auto;
  opacity: 1;

}
