@import url(https://fonts.googleapis.com/css?family=Open+Sans);

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.journey_content {
  height: 490px;
  width: auto;
  margin: 2%;
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 2fr 1fr 2fr 8fr 2fr;
  grid-template-areas:
    "h"
    "m"
    "c"
    "d"
    "f"
}

.journey_content nav {
  grid-area: m;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: black;
  color: white;
  font-family: serif;

}


.journey_content nav a:hover {
  color: red;
}

.projects {
  text-align: left;
  font-size: 200%;
  color: black;
}

.projects h1 {
  grid-area: c;
  text-align: center;
}
