#projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "o t"
    "h f"
    "i s";
  grid-gap: 10px;

  height: 100%;
  padding-left: 20em;
  padding-right: 20em;
}

#projects > section {
  box-shadow: 5px 5px;
}

.project1 {
  background-color: blue;
  grid-area: o;
  background-image: url("../extra/startrly.png");

}

.project2 {
  background-color: lightgreen;
  grid-area: t;
  background-image: url("../extra/hotel.png");
}

.project3 {
  background-color: gold;
  grid-area: h;
  background-image: url("../extra/rideshare.png");
}

.project4 {
  background-color: green;
  grid-area: f;
}

.project5 {
  background-color: black;
  grid-area: i;
  background-image: url("../extra/hummus.png");
}

.project6 {
  background-color: aqua;
  grid-area: s;
}

p {
  color: white;
}
