#container {
  display: grid;
  width: auto;
  grid-template-columns: 1fr ;
  grid-template-rows: 500px 500px;
}

body {
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  line-height: 250%;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Space Mono', monospace;
}

@keyframes slidein-left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.background {
  grid-column: 1;
  grid-row: 1 / 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/addylarge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;
  margin-top: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  z-index: -1;
}
/* WELCOME BANNER POLYGON */
#welcome-banner {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  height: 800px;
  background-image: linear-gradient(rgba(225, 112, 85,.5), rgba(255, 118, 117,.3));
  clip-path: polygon(0 28%, 100% 19%, 100% 60%, 0 69%);
  margin-left: -9rem;
  margin-top:  9.8rem;
  margin-right: -9rem;
  margin-bottom: -16.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
  left: 0;
}

section#welcome-banner h1 {
  text-align: left;
  padding: 10em 10em;
  font-family: 'Space Mono', monospace;
  color: rgba(255, 118, 117,1.0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transform: rotate(-2.8deg);
}

section#welcome-banner h1>strong {
  font-weight: bold;
  color: rgba(255, 234, 167,.8);
}

/* .learn-more {
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 118, 117,1.0);
  border-radius: 12px;
  color: rgba(255, 234, 167,.8);
  border: 2px solid rgba(255, 234, 167,.8);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: -23em;
  margin-bottom: 27em;
  margin-right: 9em;
  padding: 4px 60px;
} */


/* BOTTOM HALF NAVIGATION CARDS */

#navigation-section {
  grid-column: 1;
  grid-row: 3;
  background-color: rgba(255,255,255,0);
  color: rgba(214, 48, 49,1.0);
  border-top: 6px dotted rgba(214, 48, 49,1.0);
  margin-top: -3.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 4rem;
}

.about-me {
  text-align: center;
  position: relative;
  vertical-align: top;
  line-height: 300px;
  height: 300px;
  width: 180px;
  font-size: 22px;
  background-color: rgba(255, 118, 117,1.0);
  animation-duration: 3s;
}
.portfolio {
  text-align: center;
  position: relative;
  vertical-align: top;
  line-height: 300px;
  height: 300px;
  width: 180px;
  font-size: 22px;
  background-color: rgba(255, 118, 117,1.0);
  animation-duration: 1s;
  animation-name: slidein-left;
}
.blog {
  text-align: center;
  position: relative;
  vertical-align: top;
  line-height: 300px;
  height: 300px;
  width: 180px;
  font-size: 22px;
  background-color: rgba(255, 118, 117,1.0);
}
