body { overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
}

#container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 40px;
}

.background {
  grid-column: 1;
  grid-row: 1 / 3;
}

.background img{
  display:block;
  width: auto;
  height: auto;
  min-width: 110%;
  min-height: 110%;
  margin-left: -1em;
  margin-right: -9em;
  margin-top: -2em;
  z-index: -1;
  position: relative;
}

#navigation-bar {
  grid-column: 1;
  grid-row: 1;
}
#navigation-bar ul {
  list-style: none;
}
#navigation-bar a {
text-decoration: none;
color: rgba(214, 48, 49,1.0);
font-size: 18px;
font-weight: bold;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#navigation-bar a:hover {
  background-color: rgba(255, 234, 167,.4);
  padding-top:20px;
  padding-bottom:18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: -10px;
  text-shadow: none;
}

.nav-container {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: rgba(255, 118, 117,.7);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(214, 48, 49,.8);
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 2em;
  padding-right: 22em;
  margin-top: auto;
  margin-left: -1em;
  margin-right: -1em;
}
.nav-container li {
  padding-left: 2em;
  padding-right: 3em;
}
.nav-container :first-child{
  flex-grow: 1;
}


#welcome-banner {
  grid-column: 1;
  grid-row: 2;
  position: fixed;
  background: linear-gradient(
  rgba(250, 177, 160,.8), rgba(225, 112, 85,.4));
  height: 250px;
  width: 100%;
  margin-top: 18.5em;
  margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2);
  padding-left: 20em;
  padding-right: 20em;
}

#welcome-banner h1 {
  position: fixed;
  margin-top: 1em;
  padding-left: 7em;
  padding-right: 7em;
  text-align: center;
  width: 600px;
  color: rgba(255, 234, 167,1.0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  line-height: 40px;
  margin-bottom: 4em;
}
#welcome-banner h1>strong {
  color: rgba(214, 48, 49,1.0);
}

#footer {
  grid-column: 1;
  grid-row: 3;
  bottom: 0;
  width: 110%;
  margin-top: -6em;
  margin-left: -1em;
  margin-bottom: -1em;
  background: rgba(255, 118, 117,1.0);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  margin-top: 4em;
  margin-left: 2em;
}

.footer-container li:first-child {
  grid-column:1;
}
.footer-container li:last-child {
  grid-column:2;
}

#footer a {
  color: rgba(214, 48, 49,1.0);
  font-weight: bold;
}
#footer a:hover {
  color: rgba(255, 234, 167,1.0);
}

#footer ul {
  list-style: none;
}
#footer .social-media{
  margin-top: -1.3em;
  margin-left: 4em;
  display: flex;
  flex-direction: row;
}
#footer img {
  height: 75px;
}
#footer img:hover {
  animation: shake 0.5s;
  margin-top: -1em;
  height: 90px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
