html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/Users/shelan/ada/Ada/week6/personal-portfolio/wireframes/background_retro.jpeg");
}

.container {
  display: grid;
  grid-template-rows: 5fr 5fr 1fr
}
.first_greet {
  display: flex;
  align-self: center;
}

.second_greet {
  display: flex;
  align-self: center;
}
