/* * {
    border: solid pink 1px;
} */

body {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  max-width: 55%;
  flex-wrap: wrap;
  background-color: black;
  color: #696D79;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr -1fr;

}

.name {
  width: 30rem;
}

h1.name {
  font-family: 'Londrina Shadow', cursive;
  font-size: 5rem;
  color: #B0D0D3;
  padding: 0 2%;
  text-shadow: 0 0 2px #ffffff, 0 0 15px #70ffff, 0 0 20px #46fdff, 0 0 40px #46fdff;
  animation: buzzzz 1s infinite linear;
}

.hide {
  display: none;
 }

.selectme ul {
   /* margin-top: -5%; */
 }

.selectme li {
  /* margin-bottom: 1rem; */
}
.toggleme {
  transition: background .3s ease;
}

.toggleme:hover {
  color: #f0eddc;
}

.hideme {
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s ease;
}

.selectme input[type="checkbox"] {
  opacity: 0;
}

.selectme input[type="checkbox"]:checked + li > .hideme {
  max-height: 650px;

}

.favorites {
  padding: 0 10%;
  margin: 0 10%;
}

h2:hover {
  color: #F7AF9D;
  text-shadow: 0 0 2px #ffffff, 0 0 15px #fce7e1, 0 0 20px #facfc4, 0 0 40px #facfc4;
}

h3:hover {
  color: #E6E1C5;
  text-shadow: 0 0 2px #ffffff, 0 0 15px #f5f3e7, 0 0 20px #f0eddc, 0 0 40px #f0eddc;
}

h2 a {
  text-decoration: none;
  color: #F7AF9D;
}

h2 a:visited {
  color: #F7AF9D;
  text-decoration: line-through;
}

h3 a {
  text-decoration: none;
  color: #696D79;
}


h3 a:visited {
  color: #cfc590;
  text-decoration: line-through;
}

p.aboutme {
  justify-content: flex-end;
}

.projects a {
  text-decoration: none;
  color: #6F9283;
}

section.pseudofooter {
  display: flex;
  min-size: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}

.misc {
  padding: 0 5%;
}

.dog {
  padding: 0 5%;
}

/* .dog p {
    text-align: center;
} */

.dog img {
  filter: contrast(80%);
  align-content: center;
  justify-content: center;
}

.dog img:hover {
  filter: contrast(120%);
}

ul {
  list-style: none;
}

@keyframes buzzzz {
  0% {
    opacity: .9;
    transform: translateY(0.05rem) translateX(0.1rem) translateZ(0.1) scale(0.1);
  }
  50% {
    transform: translateY(0.08rem) translateX(-0.08rem);
  }
  70%, 100% {
    opacity: 1;
    transform: translateY(0.1rem) translateX(0.05rem) translateZ(-0.12) scale(1.05);
  }

}
